h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
h1
{
    text-align: center;
}

div{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#increment-btn{
    height: 30px;
    background-color:rgb(255, 59, 59);
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 10%;
}
#save-btn{
    height: 30px;
    color: black;
    background-color:rgb(72, 231, 14);
    border-radius: 10%;
    font-weight: 600;
}
#count-el{
    text-align: center;
    color: black;
    font-weight: bold;
}